/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffeee4; /* Cor de fundo clara */
  }
  
  header {
    background-color: #333;
    color: #ffc089;
    padding: 20px;
    text-align: center;
  }
  
  .produto {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .produto img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para os títulos, listas, botões, etc. */

  ul {
    list-style-type: circle; /* Define o estilo do marcador como um círculo */
    padding-left: 20px; /* Adiciona um espaço à esquerda da lista */
  }